<app-navbarmesas></app-navbarmesas>

<div class="container-fluid">
  <div class="row mt-5 mb-5">
    <h1>Realizar pedido:</h1>
  </div>

  <div class="row d-flex justify-content-center me-2">
    <div class="card ms-2">
      <div class="col-lg-6 d-flex mt-3 justify-content-center">
        <form class="form-inline d-flex col-lg-6">
          <input
            class="form-control"
            type="search"
            placeholder="Pesquisar produto"
            aria-label="Search"
          />
          <button class="btn btn-outline-success ms-2" type="submit">
            Pesquisar
          </button>
        </form>
      </div>

      <div class="row mt-2 ms-1 d-flex justify-content-center">
        <div class="col-lg-5 m-2">
          <div class="row text-center scrolling-wrapper">
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-1 h-100">
                <img
                  class="img-fluid img-thumbnail"
                  src="https://source.unsplash.com/pWkk7iiCoDM/400x300"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img
                  class="img-fluid img-thumbnail"
                  src="https://source.unsplash.com/aob0ukAYfuI/400x300"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img
                  class="img-fluid img-thumbnail"
                  src="https://source.unsplash.com/EUfxH-pze7s/400x300"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img
                  class="img-fluid img-thumbnail"
                  src="https://source.unsplash.com/M185_qYH8vg/400x300"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img
                  class="img-fluid img-thumbnail"
                  src="https://source.unsplash.com/sesveuG_rNo/400x300"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img
                  class="img-fluid img-thumbnail"
                  src="https://source.unsplash.com/AvhMzHwiE_0/400x300"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img
                  class="img-fluid img-thumbnail"
                  src="https://source.unsplash.com/2gYsZUmockw/400x300"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img
                  class="img-fluid img-thumbnail"
                  src="https://source.unsplash.com/EMSDtjVHdQ8/400x300"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img
                  class="img-fluid img-thumbnail"
                  src="https://source.unsplash.com/8mUEy0ABdNE/400x300"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img
                  class="img-fluid img-thumbnail"
                  src="https://source.unsplash.com/8mUEy0ABdNE/400x300"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img
                  class="img-fluid img-thumbnail"
                  src="https://source.unsplash.com/aJeH0KcFkuc/400x300"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img
                  class="img-fluid img-thumbnail"
                  src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-sm-5">
          <table class="table border">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Produto</th>
                <th scope="col">Q</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Pao Caseiro</td>
                <td>2</td>
                <td>R$10,00</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Vinho</td>
                <td>1</td>
                <td>R$10,00</td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-center">
            <button class="btn btn-secondary m-2">Cancelar pedido</button>
            <button class="btn btn-success m-2">Confirmar Pedido</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
