
*{
    margin: 0;
    padding: 0;

    

}

.container {

    max-width: 1800px;

}

.subtitulo {
    font-size: 25px;
    font-style: normal;
    font-weight: 119;
    line-height: 10px;
}

.ajusteBotoes {
    margin-top: 20px;
}

.centralizacaoTxt {
    margin-top: 10px;
}

.centralizacao {
    margin-top: 55px;
}

.vendasopc {
    max-width: 250px;
    width: 100%;
    cursor: pointer;
    margin-left: 3px;
    
}

.anim {
    width: 100%;
    display: block;
    transition: transform .2s;
    transform-origin: center center;
}

.anim:hover {
   transform: scale(0.9);
}

@media( min-width: 1440px) {

    .vendasopc {
        max-width: 215px;
        
    }
}

