
*{
    margin: 0;
    padding: 0;


}

.vendasopc {
    max-width: 1100px;
    width: 100%;
    cursor: pointer;
    margin-left: 3px;
}

.subtitulo {
    font-size: 25px;
    font-style: normal;
    font-weight: 119;
    line-height: 10px;
}

.ajusteBotoes {
    margin-top: 20px;
}

.centralizacaoTxt {
    margin-top: 10px;
}

.centralizacao {
    margin-top: 55px;
}
