
*{
    margin: 0;
    padding: 0;

 

}

.container-fluid {
    max-width: 2000px;
    
    height: 930px;
    background-image: url('/assets/img/bck.webp');
    background-repeat: repeat;
    background-size: 400px;
}



.subtitulo {
    font-size: 25px;
    font-style: normal;
    font-weight: 119;
    line-height: 10px;
   
}

.ajusteBotoes {
    margin-top: 20px;
}

.centralizacaoTxt {
    margin-top: 10px;
}

.centralizacao {
    margin-top: 55px;
}

.vendasopc {
    
    cursor: pointer;
    margin-left: 0px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px 5px rgba(211, 76, 76, 0.5); /* Sombra ao redor do elemento */
}

.anim {
    width: 100%;
    display: block;
    transition: transform .2s;
    transform-origin: center center;
}

.anim:hover {
   transform: scale(0.9);
}

@media( min-width: 1440px) {

    .vendasopc {
        max-width: 215px;
        
    }
}

