<app-navbarvendas></app-navbarvendas>

<div class="container">
  <div class="row">
    <h2
      class="col-sm-12 col-md-12 display-6 text-center mb-4 mt-4 animate__animated animate__bounceIn"
    >
      Sessão de controle de estoque
    </h2>
  </div>

  <div class="row">
    <div
      class="col-12 col-md-12 col-lg-12 d-flex justify-content-center animate__animated animate__pulse"
    >
      <img src="assets/img/logo.png" class="img-fluid" />
    </div>
    <div class="row mt-3">
      <div
        class="col-12 col-md-12 col-lg-12 d-flex justify-content-center animate__animated animate__bounceIn"
      >
        <img
          routerLink="/lista"
          routerLinkActive="active"
          class="listaopc img-fluid lista"
          src="assets/img/listaprodutos.png"
        />
      </div>
    </div>

    <div class="row">
      <div
        class="col-12 col-md-12 d-flex justify-content-center animate__animated animate__bounceIn"
      >
        <img
          routerLink="/entrada"
          routerLinkActive="active"
          class="m-3 imagem-centralizada listaopc"
          src="assets/img/entradaopc.png"
        />

        <img
          (click)="OpenModalPerca()"
          class="m-3 imagem-centralizada listaopc"
          src="assets/img/percaopc.png"
        />
      </div>
    </div>
  </div>
</div>

<div
  class="modal animate__animated animate__bounceInUp"
  tabindex="-1"
  id="modalPerca"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title">Perca de Item</h5>
      </div>
      <div class="modal-body">
        <div class="row d-flex justify-content-center">
          <p class="input-5 mb-2">Nome do item:</p>
          <input class="caixa mb-2" id="nome" placeholder="Nome do item" />
          <p class="input-5 mb-2">Quantidade:</p>
          <input class="caixa mb-2" id="nome" placeholder="Quantidade" />
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button
          (click)="CloseModalPerca()"
          type="button"
          class="btn btn btn-outline-dark"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button
          (click)="CloseModalPerca()"
          type="button"
          class="btn btn-danger"
        >
          Adicionar Item
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="modalExcluir">
  <div class="modal-dialog d-flex justify-content-center">
    <div class="modal-content excluir d-flex justify-content-center">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title">Certeza que quer excluir?</h5>
      </div>
      <div class="modal-body d-flex justify-content-center">
        Ao aceitar você excluirá o item permanentemente.
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button
          (click)="CloseModalExcluir()"
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button
          (click)="CloseModalExcluir()"
          (click)="CloseModalEditar()"
          type="button"
          class="btn btn-danger"
        >
          Excluir Item
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="modalColocarId">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title">Qual ID você deseja modificar?</h5>
      </div>
      <div class="modal-body">
        <div class="row d-flex justify-content-center">
          <input
            class="caixa mb-2"
            [(ngModel)]="idInserido"
            placeholder="ID do produto"
          />
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button
          (click)="CloseModalColocarId()"
          type="button"
          class="btn btn btn-outline-dark"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button
          (click)="OpenModalEditar()"
          type="button"
          class="btn btn-danger"
        >
          Selecionar ID
        </button>
      </div>
    </div>
  </div>
</div>
