

/* Ajeitar menu */

.distancia {
    margin-bottom: 3px;
}



.listaopc {
    cursor: pointer;
}

/* Modal estilização: */


.imagem-centralizada {
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
  }

/* Estilo para telas pequenas (celulares em paisagem e tablets pequenos, 576px e acima) */
@media (min-width: 425px) {
    .imagem-centralizada {
      width: 150px;
      height: 150px;
    }
  }

@media (min-width: 576px) {
    .imagem-centralizada {
      width: 100px;
      height: 100px;
    }
  }
  
  /* Estilo para telas médias (tablets, 768px e acima) */
  @media (min-width: 768px) {
    .imagem-centralizada {
      width: 180px;
      height: 180px;
    }
  }
  
  /* Estilo para telas grandes (desktops, 992px e acima) */
  @media (min-width: 992px) {
    .imagem-centralizada {
      width: 220px;
      height: 220px;
    }
  }
  
  /* Estilo para telas extra grandes (grandes desktops, 1200px e acima) */
  @media (min-width: 1200px) {
    .imagem-centralizada {
      width: 300px;
      height: 300px;
    }
  }