<app-navbarvendas></app-navbarvendas>

<div class="container">
  <div class="row">
    <div
      class="col-12 col-md-12 col-lg-12 d-flex justify-content-center animate__animated animate__pulse mt-4"
    >
      <img src="assets/img/logo.png" class="img-fluid" />
    </div>
    <div class="row mt-3">
      <div
        class="col-12 col-md-12 col-lg-12 d-flex justify-content-center animate__animated animate__bounceIn"
      >
        <img
          routerLink="/lista"
          routerLinkActive="active"
          class="listaopc img-fluid lista"
          src="assets/img/listaprodutos.png"
        />
      </div>
    </div>

    <div class="row">
      <div
        class="col-12 col-md-12 d-flex justify-content-center animate__animated animate__bounceIn"
      >
        <img
          routerLink="/entradalista"
          routerLinkActive="active"
          class="m-3 imagem-centralizada listaopc listaopcc"
          src="assets/img/entradaopc.png"
        />

        <img
          (click)="OpenModalPerca()"
          class="m-3 imagem-centralizada listaopc listaopcc"
          src="assets/img/percaopc.png"
        />
      </div>
    </div>
  </div>
</div>

<div
  class="modal animate__animated animate__bounceInUp"
  tabindex="-1"
  id="modalPerca"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title">Perca de Item</h5>
      </div>
      <div class="modal-body">
        <div class="row d-flex justify-content-center">
          <p class="input-5 mb-2">Nome do item:</p>
          <input class="caixa mb-2" id="nome" placeholder="Nome do item" />
          <p class="input-5 mb-2">Quantidade:</p>
          <input class="caixa mb-2" id="nome" placeholder="Quantidade" />
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button
          (click)="CloseModalPerca()"
          type="button"
          class="btn btn btn-outline-dark"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button
          (click)="CloseModalPerca()"
          type="button"
          class="btn btn-danger"
        >
          Adicionar Item
        </button>
      </div>
    </div>
  </div>
</div>
