<app-navbarvendas></app-navbarvendas>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h1 class="p-2 display-5">Selecione a mesa para realizar o pedido</h1>
    </div>
  </div>

  <div class="row justify-content-center align-items-center m-5">
    <div class="col-12 col-md-4 text-center">
      <img src="assets/img/logo.png" class="logo" />
      <div class="d-flex justify-content-center">
        <button
          class="btn btn-danger m-2"
          routerLink="/abrirmesa"
          routerLinkActive="active"
        >
          Abrir mesa
        </button>
        <button
          class="btn btn-danger m-2"
          routerLink="/fecharmesa"
          routerLinkActive=""
        >
          Fechar mesa
        </button>
      </div>
    </div>

    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-6 col-md-3" *ngFor="let mesa of mesas">
          <div class="card shadow m-1 p-1">
            <div class="card-body">
              <h5 class="card-title">{{ mesa.nome }}</h5>
              <p class="card-text">ID:{{ mesa.id }}</p>
              <button
                class="btn btn-danger btn1"
                routerLink="/pedido"
                routerLinkActive="active"
              >
                Fazer Pedido
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
