.container { 
    max-width: 1600px;

}

.logo {
    
    width: 300px;
}

.centralizacao {

    margin-bottom: 50px;
}


.btn1 {

    &::before{
        width: 0;
        height: 100%;
    }

    &:hover{
        &:before{
            width: 100%;
        }
    }
}

/* Toggle switch para abrir e fechar as mesas */

.toggle {
    display: none;
}

.toggle + label {
    width: 40px;
    height: 24px;
    background-color: rgb(134, 134, 134);
    display: block;
    position: relative;
    border-radius: 20px;
    padding: 10px;
    transition: 200ms;
    cursor: pointer;
}

.toggle + label:before {
    content: '';
    position: absolute; 
    width: 20px;
    height: 20px;
    background: white;
    display: block;   
    border-radius: 50%;
    right: unset;
    left: 2px;
    top: 2px;
    transition: 200ms;
}

.toggle:checked + label {
    background-color: rgb(238, 36, 36);
}

.toggle:checked + label:before {
    content: '';
    left: calc(100% - 22px);
    box-shadow: 0 3px 5px rgb(240, 119, 119);
}

@media screen and (min-width: 1000px) {
    .logo {
        display: flex;
        align-items: flex-start;
        width: 350px;
    }
  }