<app-navbarvendas></app-navbarvendas>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h1 class="p-2 display-5 animate__animated animate__bounceIn">
        Selecione a mesa para realizar o pedido
      </h1>
    </div>
  </div>

  <div class="row d-flex justify-content-center align-items-center mt-5">
    <div class="col-12 col-md-4 text-center">
      <img
        src="assets/img/logo.png"
        class="logo animate__animated animate__pulse"
      />
    </div>

    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-6 col-md-3" *ngFor="let mesa of mesas; let i = index">
          <div class="card shadow m-1 p-1 animate__animated animate__bounceIn">
            <div class="d-flex justify-content-end">
              <input
                [id]="'toggle' + i"
                class="toggle"
                name="toggle"
                type="checkbox"
                [(ngModel)]="mesa.isChecked"
              />
              <label [for]="'toggle' + i"></label>
            </div>

            <div class="card-body">
              <h5 class="card-title">{{ mesa.nome }}</h5>
              <p class="card-text">ID:{{ mesa.id }}</p>
              <button
                class="btn btn-danger btn1"
                routerLink="/pedido"
                routerLinkActive="active"
                [disabled]="!mesa.isChecked"
              >
                Fazer Pedido
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
