<app-navbarvendas></app-navbarvendas>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h1 class="p-2 display-5 animate__animated animate__bounceIn">
        Realize o pedido no balcão
      </h1>
    </div>
  </div>

  <div class="row d-flex justify-content-center align-items-center mt-5">
    <div class="col-12 col-md-4 text-center">
      <img
        src="assets/img/logo.png"
        class="logo animate__animated animate__pulse"
      />
    </div>

    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-6 col-md-3">
          <div class="card shadow m-1 p-1 animate__animated animate__bounceIn">
            <div class="card-body">
              <h5 class="card-title">Balcão</h5>
              <button
                class="btn btn-danger btn1"
                routerLink="/pedido"
                routerLinkActive="active"
                (click)="fazerPedidoNoBalcao()"
              >
                Fazer Pedido
              </button>
            </div>
          </div>
        </div>
        <div class="col-12">
          <h5 class="card-title">Pedidos Finalizados</h5>
          <div
            class="card shadow m-1 p-1 animate__animated animate__bounceIn"
            *ngFor="let pedido of pedidosFinalizados; let i = index"
          >
            <div class="card-body">
              <p class="card-text">ID: {{ pedido.idPedido }}</p>
              <p class="card-text">Data: {{ pedido.Data }}</p>
              <p class="card-text">Valor Total: {{ pedido.Valor_total }}</p>
              <p class="card-text">
                Forma de Pagamento:
                {{ pedido.formasdePagamento[pedido.Forma_pagamento] }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
