<app-navbarvendas></app-navbarvendas>

<div class="container-fluid">
  <div class="p-3 mt-1">
    <h1 class="text-center animate__animated animate__bounceIn">
      Sessão de controle financeiro
    </h1>
    <h2 class="text-center subtitulo animate__animated animate__bounceIn">
      Sistema de gestão do Falls Café
    </h2>
    <p class="text-center display-6 animate__animated animate__bounceIn">
      Usuário: Piasson
    </p>
  </div>

  <div class="row justify-content-around mt-3">
    <div
      class="col-lg-12 col-md-12 d-flex justify-content-center animate__animated animate__pulse"
    >
      <img src="assets/img/logo.png" class="img-fluid" />
    </div>

    <div class="col-md-6 col-lg-4 mt-3">
      <div
        class="d-flex justify-content-around animate__animated animate__bounceIn"
      >
        <img class="opcao animWidthMais" src="assets/img/inserirdado.png" />
        <img
          routerLink="/consultar"
          routerLinkActive="active"
          class="opcao animWidthMais"
          src="assets/img/consultarfinanceiro.png"
        />
      </div>
    </div>
  </div>
</div>
