<app-navbarvendas></app-navbarvendas>

<div class="container-fluid">
  <div class="row justify-content-around">
    <div
      class="col-lg-12 col-md-12 d-flex justify-content-center animate__animated animate__pulse mt-5"
    >
      <img src="assets/img/logo.png" class="img-fluid" />
    </div>

    <div class="col-md-6 col-lg-4 mt-5">
      <div
        class="d-flex justify-content-around animate__animated animate__bounceIn"
      >
        <img
          routerLink="/consultar"
          routerLinkActive="active"
          class="opcao animWidthMais mt-5"
          src="assets\img\consulta.png"
        />
      </div>
    </div>
  </div>
</div>
