<app-navbarlista></app-navbarlista>

<div class="container">
  <div class="row">
    <h2 class="tituloajuste mt-5 mb-3">Entrada de item:</h2>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4">
      <div class="form-group">
        <label class="control-label caixa1" for="textinput"
          >Nome do produto:</label
        >

        <input
          id="textinput"
          name="textinput"
          type="text"
          placeholder="Digite o nome do produto"
          class="form-control input-md"
        />
      </div>
      <div class="form-group">
        <label class="control-label caixa1" for="textinput"
          >Descrição do produto:</label
        >

        <input
          id="textinput"
          name="textinput"
          type="text"
          placeholder="Digite a descrição do produto"
          class="form-control input-md"
        />
      </div>
      <div class="form-group">
        <label class="control-label caixa1" for="textinput"
          >Fornecedor do produto:</label
        >

        <input
          id="textinput"
          name="textinput"
          type="text"
          placeholder="Fornecedor o produto"
          class="form-control input-md"
        />
      </div>
      <div class="form-group">
        <label class="control-label caixa1" for="textinput"
          >Informações adicionais:</label
        >

        <input
          id="textinput"
          name="textinput"
          type="text"
          placeholder="Informações adicionais"
          class="form-control input-md"
        />
      </div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="form-group">
        <label class="control-label caixa1" for="textinput">Código:</label>

        <input
          id="textinput"
          name="textinput"
          type="text"
          placeholder="Código"
          class="form-control input-md"
        />
      </div>
      <div class="form-group">
        <label class="control-label caixa1" for="textinput">Quantidade:</label>

        <input
          id="textinput"
          name="textinput"
          type="text"
          placeholder="Quantidade"
          class="form-control input-md"
        />
      </div>
      <div class="form-group">
        <label class="control-label caixa1" for="textinput"
          >Preço de compra:</label
        >

        <input
          id="textinput"
          name="textinput"
          type="text"
          placeholder="Preço de compra"
          class="form-control input-md"
        />
      </div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="form-group">
        <label class="control-label caixa1" for="textinput">Data:</label>

        <input
          id="textinput"
          name="textinput"
          type="text"
          placeholder="Data"
          class="form-control input-md"
        />
      </div>
      <div class="form-group">
        <label class="control-label caixa1" for="textinput">Validade:</label>

        <input
          id="textinput"
          name="textinput"
          type="text"
          placeholder="Validade"
          class="form-control input-md"
        />
      </div>
      <div class="form-group">
        <label class="control-label caixa1" for="textinput"
          >Preço de venda:</label
        >

        <input
          id="textinput"
          name="textinput"
          type="text"
          placeholder="Preço de venda"
          class="form-control input-md"
        />
      </div>
      <div class="form-group d-flex justify-content-center mb-2">
        <button class="btn btn-success botao">Salvar</button>
        <button class="btn btn-danger botao ms-5">Cancelar</button>
      </div>
    </div>
  </div>
</div>
