<app-navbarlista></app-navbarlista>

<div class="container">
  <div class="row">
    <h2 class="tituloajuste mt-5 mb-3 animate__animated animate__bounceIn">
      Entrada de item:
    </h2>
  </div>

  <div class="row animate__animated animate__bounceIn">
    <div class="col-lg-4 col-md-4">
      <div class="form-group">
        <label class="control-label caixa1" for="textinput"
          >Nome do produto:</label
        >

        <input
          id="textinput"
          name="nome"
          type="text"
          placeholder="Digite o nome do produto"
          class="form-control input-md"
          [(ngModel)]="nome"
        />
      </div>
      <div class="form-group">
        <label class="control-label caixa1" for="textinput"
          >Descrição do produto:</label
        >

        <input
          id="textinput"
          name="descricao"
          type="text"
          placeholder="Digite a descrição do produto"
          class="form-control input-md"
          [(ngModel)]="descricao"
        />
      </div>
      <div class="form-group">
        <label class="control-label caixa1" for="textinput"
          >Fornecedor do produto:</label
        >

        <input
          id="textinput"
          name="fornecedor"
          type="text"
          placeholder="Fornecedor o produto"
          class="form-control input-md"
          [(ngModel)]="fornecedor"
        />
      </div>
      <div class="form-group">
        <label class="control-label caixa1" for="textinput"
          >Informações adicionais:</label
        >

        <input
          id="textinput"
          name="infoadicional"
          type="text"
          placeholder="Informações adicionais"
          class="form-control input-md"
          [(ngModel)]="infoadicional"
        />
      </div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="form-group">
        <label class="control-label caixa1" for="textinput">Código:</label>

        <input
          id="textinput"
          name="codigo"
          type="text"
          placeholder="Código"
          class="form-control input-md"
          [(ngModel)]="codigo"
        />
      </div>
      <div class="form-group">
        <label class="control-label caixa1" for="textinput">Quantidade:</label>

        <input
          id="textinput"
          name="quantidade"
          type="text"
          placeholder="Quantidade"
          class="form-control input-md"
          [(ngModel)]="quantidade"
        />
      </div>
      <div class="form-group">
        <label class="control-label caixa1" for="textinput"
          >Preço de compra:</label
        >

        <input
          id="textinput"
          name="Preco_compra"
          type="text"
          placeholder="Preço de compra"
          class="form-control input-md"
          [(ngModel)]="preco_compra"
        />
      </div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="form-group">
        <label class="control-label caixa1" for="textinput">Data:</label>

        <input
          id="textinput"
          name="data"
          type="text"
          placeholder="Data"
          class="form-control input-md"
          [(ngModel)]="data"
        />
      </div>
      <div class="form-group">
        <label class="control-label caixa1" for="textinput">Validade:</label>

        <input
          id="textinput"
          name="validade"
          type="text"
          placeholder="Validade"
          class="form-control input-md"
          [(ngModel)]="validade"
        />
      </div>
      <div class="form-group">
        <label class="control-label caixa1" for="textinput"
          >Preço de venda:</label
        >

        <input
          id="textinput"
          name="Preco_venda"
          type="text"
          placeholder="Preço de venda"
          class="form-control input-md"
          [(ngModel)]="preco_venda"
        />
      </div>
      <div class="form-group d-flex justify-content-center mb-2">
        <button class="btn btn-success botao" (click)="onSubmit()">
          Salvar
        </button>
        <button class="btn btn-danger botao ms-5">Cancelar</button>
      </div>
    </div>
  </div>
</div>
