.container-fluid {
  max-width: 1920px;
  height: 930px;
  background-image: url('/assets/img/bck.webp');
  background-repeat: repeat;
  background-size: 400px;
}

.table-wrapper {
    max-height: 540px;
    overflow-y: auto;
    margin: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 0.75rem;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9;
  }
  
  .table thead tr {
    background-color: #f8f8f8;
    color: #000000;
  }
  
  .table th,
  .table td {
    padding: 0.70rem;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
  }
  
  .table thead {
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: #ffffff; /* Adiciona cor de fundo ao cabeçalho fixo */
  }
  
  .table tbody tr:hover {
    background-color: #dddddd;
  }
  
  .btn-outline-danger {
    border-color: #dc3545;
    color: #dc3545;
  }
  
  .btn-outline-danger:hover {
    background-color: #dc3545;
    color: #fff;
    
  }
  
  .btn-outline-dark {
    border-color: #343a40;
    color: #343a40;
  }
  
  .btn-outline-dark:hover {
    background-color: #343a40;
    color: #fff;
  }

  /* Estilização geral da barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
  }
  
  /* Handle da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background: #979797; /* Cor do handle da barra de rolagem */
    border-radius: 10px; /* Arredondamento do handle da barra de rolagem */
  }
  
  /* Handle da barra de rolagem ao passar o mouse */
  ::-webkit-scrollbar-thumb:hover {
    background: #942b10;
  }
  
  /* Estilização da tabela */
  .table {
    width: 100%;
    border-collapse: separate; /* Isso impede que as linhas se estendam além da tabela */
    border-spacing: 0; /* Remove o espaçamento padrão entre as células */
  }
  
  .table th,
  .table td {
    border-right: 1px solid #dee2e6; /* Adiciona borda direita para cada célula */
  }
  
  .table th:last-child,
  .table td:last-child {
    border-right: none; /* Remove a borda direita da última célula de cada linha */
  }

    
.pagination ::ng-deep .ngx-pagination {

  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: transparent;
}

.pagination ::ng-deep .ngx-pagination .current,
.pagination ::ng-deep .ngx-pagination li,
.pagination ::ng-deep .ngx-pagination .previous a,
.pagination ::ng-deep .ngx-pagination .next a {
  background-color: white;
  margin: 0 5px;
  padding: 4px 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  color: #333;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.pagination ::ng-deep .ngx-pagination .current {
  background-color: #c43c3c;
  color: white;
}

.pagination ::ng-deep  .ngx-pagination li:hover,
.pagination ::ng-deep  .ngx-pagination .previous a:hover,
.pagination ::ng-deep .ngx-pagination .next a:hover {
  background-color: #ddd;
}