<app-navbarconsultar></app-navbarconsultar>

<div class="container-fluid">
  <div class="form-group">
    <input
      type="text"
      class="form-control mb-3"
      placeholder="Pesquisar entrada de produto"
    />
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>ID:</th>
          <th>Data:</th>
          <th>Valor Total:</th>
          <th>Ver mais:</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let pedido of pedidosFinalizados
              | paginate : { itemsPerPage: 6, currentPage: p };
            let i = index
          "
        >
          <td>{{ pedido.idPedido }}</td>
          <td>{{ pedido.Data }}</td>
          <td>
            {{
              pedido.Valor_total.toLocaleString("pt-BR", {
                style: "currency",
                currency: "BRL"
              })
            }}
          </td>
          <td>
            <button class="btn btn-success btnmais">+</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="">
      <pagination-controls
        class="pagination"
        (pageChange)="p = $event"
        previousLabel="Anterior"
        nextLabel="Próximo"
      ></pagination-controls>
    </div>
  </div>
</div>
