<app-navbarlista></app-navbarlista>

<div class="container">
  <h1 class="d-flex justify-content-center mt-5 mb-5">Lista de Produtos</h1>

  <div class="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome do produto:</th>
          <th scope="col">Descricao:</th>
          <th scope="col">Preco compra:</th>
          <th scope="col">Preco venda:</th>
          <th scope="col">Preferências:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of lista">
          <th>
            {{ produto.idProduto }}
            <!-- Substitua 'nome' pela propriedade que você deseja exibir -->
          </th>
          <th>
            {{ produto.Nome_produto }}
          </th>
          <th>
            {{ produto.Descricao }}
          </th>
          <th>
            {{
              produto.Preco_compra.toLocaleString("pt-BR", {
                style: "currency",
                currency: "BRL"
              })
            }}
          </th>
          <th>
            {{
              produto.Preco_venda.toLocaleString("pt-BR", {
                style: "currency",
                currency: "BRL"
              })
            }}
          </th>
          <th>
            <button class="btn btn-outline-danger">Editar</button>
            <button class="btn btn-outline-dark ms-2">Excluir</button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-lg-12 col-">
      <div class="d-flex justify-content-around">
        <button class="btn btn-success mb-5 mt-5" (click)="OpenModalNovo()">
          Adicionar produto
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal animate__animated animate__fadeInUp"
  tabindex="-1"
  id="modalNovo"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Adicionar produto</h5>
      </div>
      <div class="modal-body d-flex flex-column">
        <form (ngSubmit)="addProdutoList()">
          <p class="d-flex justify-content-between">
            Nome do produto:
            <input
              class="border inputOpc"
              type="text"
              name="nome"
              id="nome"
              placeholder="Nome do produto"
              [(ngModel)]="novoProduto.Nome_produto"
            />
          </p>

          <p class="d-flex justify-content-between">
            Descrição:
            <input
              class="border inputOpc"
              type="text"
              name="descricao"
              id="descricao"
              placeholder="Descricao do produto"
              [(ngModel)]="novoProduto.Descricao"
            />
          </p>

          <p class="d-flex justify-content-between">
            preço venda:
            <input
              class="border inputOpc"
              type="number"
              name="Preco_venda"
              id="Preco_venda"
              placeholder="Preço de venda"
              [(ngModel)]="novoProduto.Preco_venda"
            />
          </p>

          <p class="d-flex justify-content-between">
            Preço compra:
            <input
              class="border inputOpc"
              type="number"
              name="Preco_compra"
              id="Preco_compra"
              placeholder="Preço de compra"
              [(ngModel)]="novoProduto.Preco_compra"
            />
          </p>
        </form>
        <div class="modal-footer d-flex justify-content-around">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="CloseModalNovo()"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="addProdutoList()"
          >
            Adicionar produto
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" id="modalExcluir">
    <div class="modal-dialog d-flex justify-content-center">
      <div class="modal-content excluir d-flex justify-content-center">
        <div class="modal-header d-flex justify-content-center">
          <h5 class="modal-title">Certeza que quer excluir?</h5>
        </div>
        <div class="modal-body d-flex justify-content-center">
          Ao aceitar você excluirá o item permanentemente.
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button
            (click)="CloseModalExcluir()"
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            (click)="CloseModalExcluir()"
            (click)="CloseModalEditar()"
            type="button"
            class="btn btn-danger"
          >
            Excluir Item
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
