.container-fluid {
  max-width: 2000px;
    height: 1200px;
    background-image: url('/assets/img/bck.webp');
    background-repeat: repeat;
    background-size: 500px
}

.table-wrapper {
    max-height: 540px;
    overflow-y: auto;
    margin: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 0.75rem;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9;
    background-color: rgba(255, 255, 255, 1); /* Fundo vermelho com 50% de transparência */
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.9); /* Sombra ao redor do elemento */
  
  }
  
  .table thead tr {
    background-color: #f8f8f8;
    color: #000000;
  }
  
  .table th,
  .table td {
    padding: 0.70rem;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
  }
  
  .table thead {
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: #ffffff; /* Adiciona cor de fundo ao cabeçalho fixo */
  }
  
  .table tbody tr:hover {
    background-color: #dddddd;
  }
  
  .btn-outline-danger {
    border-color: #dc3545;
    color: #dc3545;
  }
  
  .btn-outline-danger:hover {
    background-color: #dc3545;
    color: #fff;
    
  }
  
  .btn-outline-dark {
    border-color: #343a40;
    color: #343a40;
  }
  
  .btn-outline-dark:hover {
    background-color: #343a40;
    color: #fff;
  }

  /* Estilização geral da barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
  }
  
  /* Handle da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background: #979797; /* Cor do handle da barra de rolagem */
    border-radius: 10px; /* Arredondamento do handle da barra de rolagem */
  }
  
  /* Handle da barra de rolagem ao passar o mouse */
  ::-webkit-scrollbar-thumb:hover {
    background: #942b10;
  }
  
  /* Estilização da tabela */
  .table {
    width: 100%;
    border-collapse: separate; /* Isso impede que as linhas se estendam além da tabela */
    border-spacing: 0; /* Remove o espaçamento padrão entre as células */
  }
  
  .table th,
  .table td {
    border-right: 1px solid #dee2e6; /* Adiciona borda direita para cada célula */
  }
  
  .table th:last-child,
  .table td:last-child {
    border-right: none; /* Remove a borda direita da última célula de cada linha */
  }

  /* estilo.css */

#modalNovo {
  background-color: transparent; /* Altere para a cor de fundo desejada */
  border-radius: 10px; /* Adicione bordas arredondadas */
}

#modalNovo .modal-header {
  background-color: #dc3545; /* Altere para a cor de fundo desejada */
  color: white; /* Altere para a cor do texto desejada */
}

#modalNovo .modal-body {
  font-size: 18px; /* Altere para o tamanho de fonte desejado */
}

#modalNovo .modal-footer {
  background-color: white; /* Altere para a cor de fundo desejada */
  color: white; /* Altere para a cor do texto desejada */
}

#modalNovo .inputOpc {
  margin-left: 10px; /* Adicione margem à esquerda para alinhar os inputs */
}

#modalNovo input {
  border-radius: 0.50rem;
}



#modalEditar {
  background-color: transparent; /* Altere para a cor de fundo desejada */
  border-radius: 10px; /* Adicione bordas arredondadas */
}

#modalEditar .modal-header {
  background-color: #dc3545; /* Altere para a cor de fundo desejada */
  color: white; /* Altere para a cor do texto desejada */
}

#modalEditar .modal-body {
  font-size: 18px; /* Altere para o tamanho de fonte desejado */
}

#modalEditar .modal-footer {
  background-color: white; /* Altere para a cor de fundo desejada */
  color: white; /* Altere para a cor do texto desejada */
}

#modalEditar .inputOpc {
  margin-left: 10px; /* Adicione margem à esquerda para alinhar os inputs */
}

#modalEditar input {
  border-radius: 0.50rem;
  height: 30px;
 
  justify-content: end;
}

#modalNovo option:hover {
  background-color: rgb(173, 66, 66);
  color: white;
}

.custom-button:hover {
  color: white !important;
}

input {
  background-color: rgba(255, 255, 255, 0.9); /* Fundo vermelho com 50% de transparência */
  box-shadow: 0px 0px 10px 5px rgba(92, 88, 88, 0.5); /* Sombra ao redor do elemento */

  margin-top: 20px;
  width: 600px;
}

.botaoadd {
  
  box-shadow: 0px 0px 10px 5px rgba(112, 241, 79, 0.5); /* Sombra ao redor do elemento */

}

  
  
@media screen and (max-width: 425px) {
  
  .container-fluid {
        width:750px;
        height: 1900px;
        background-image: url('/assets/img/bck.webp');
        background-repeat: repeat;
        background-size: 500px
    }


}


  
@media screen and (min-width: 426px) and (max-width: 768px) {
  
  .container-fluid {
      max-width: 2100px;
        height: 900px;
        background-image: url('/assets/img/bck.webp');
        background-repeat: repeat;
        background-size: 500px
    }


}

@media screen and (min-width: 769px) and (max-width: 1440px) {
 
  .container-fluid {
      max-width: 2100px;
        height: 800px;
        background-image: url('/assets/img/bck.webp');
        background-repeat: repeat;
        background-size: 500px
    }


}

@media screen and (min-width: 1440px) {
 
  .container-fluid {
      max-width: 2100px;
        height: 800px;
        background-image: url('/assets/img/bck.webp');
        background-repeat: repeat;
        background-size: 500px
    }


}

